<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
        autoReload="true"
        throwExceptions="false"
        internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <variable name="myvar" value="myvalue"/>

    <targets>
      <!-- Guardar en archivo -->
      <target xsi:type="File"
              name="logfile"
              fileName="${specialfolder:folder=MyDocuments}/Logs/Alpheus_API/Log_AlpheusAPI_${shortdate}.txt"
              layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=ToString}" />

      <!-- Mostrar en consola -->
      <target xsi:type="Console"
              name="logconsole"
              layout="${longdate} | ${level:uppercase=true} | ${message}" />
    </targets>

    <rules>
      <!-- Todo lo que sea Info o mayor, lo manda al archivo -->
      <logger name="*" minlevel="Info" writeTo="logconsole,logfile" />

      <!-- Solo Debug y arriba se ven en consola -->
      <logger name="*" minlevel="Debug" writeTo="logconsole" />
    </rules>
  </nlog>
</configuration>